.footer {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
}

.footer-line {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.right-section {
  display: flex;
}

.icon-container {
  margin-left: 10px;
}

.icon-container i {
  font-size: 24px;
}
