<div class="footer-line"></div>
<div class="footer-content">
  <div class="left-section">
    <img src="assets/images/cities_logo.png" alt="Logo" class="logo">
    <span class="copyright">
      &copy; 2023 Company, Inc
    </span>
  </div>
  <div class="right-section">
    <div class="icon-container">
      <i class="fab fa-facebook icon"></i>
    </div>
    <div class="icon-container">
      <i class="fab fa-twitter icon"></i>
    </div>
    <div class="icon-container">
      <i class="fab fa-instagram icon"></i>
    </div>
  </div>
</div>