.banner-box {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
  margin-bottom: 2%;
}

.banner-box h2 {
  color: #000;
  font-size: xx-large;
}

.banner-box p {
  font-size: xx-large;
}

